@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Archivo+Black&family=M+PLUS+1:wght@100..900&family=Noto+Sans+Mono:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body {
    margin: 0;
    padding: 0;
    background-color: #131313;
    color: #efefef;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

p{
    font-size: medium;
}

.face .face-name a.github:hover{
    color: #901ade;
    transition-duration: .5s;
}
.face .face-name a.linkedin:hover{
    text-decoration: none;
    color: #0b8cc8;
}

.face {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    padding-left: 5%;
}
.face .face-name h1{
    font-family: 'Anonymous Pro', monospace;
    font-weight: 400;
    font-size: 2.5rem;
    color: #f17921;
}
.face .face-name h2{
    font-family: 'Anonymous Pro', monospace;
    font-weight: 400;
    font-size: 2.5rem;
}
.face .face-name a{
    font-family: 'Afacad', monospace;
    font-weight: 400;
    font-size: 1.5rem;
    color: #efefef;
    text-decoration: none;
    margin: 10px;
}

.photo,
.photo-bio {
    display: none;
}

.banner {
    margin-bottom: 2%;
    background-color: #f17921;
    height: 3px;
}

.banner-link {
    color: #131313;
    text-decoration: none;
}

.banner-link:active {
    color: #131313;
    text-decoration: none;
}

.section-title {
    text-align: center;
    font-family: 'Archivo Black', monospace;
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 2%;
}

.container{
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 6%;
}
.container .col{
    flex: 30%;
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.profile-picture{
    border-radius: 50%;
    border: 5px solid #f17921;
    width: 250px;
    height: 250px;
    margin: 0 auto;
}

aside {
    text-align: center;
}
.col  {
    text-align: center;
}
#btnDownloadCv{
    color: #131313;
    background-color: #f17921;
    border: none;
    border-radius: 6px;
    font-size: larger;
    font-weight: 700;
    font-family: 'Plus Jakarta Sans', sans-serif;
    padding: 10px 20px;
}
#button-container{
    display: flex;
    justify-content: center;
    margin: 6% 0;
}

.card-container{
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 6%;
}
.card{
    background-color: #2c2c2c;
    border-radius: 8px;
    box-shadow: #131313 0 0 10px;
    border: #9b9b9b 1px solid;
    flex: 25%;
    text-align: center;
    padding: 15px;
    margin: 0 3% 6%;
}
.skill-picture{
    width: 100px;
    height: 100px;
}
#projects{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    max-width: 75rem;
    gap: 1.5rem;
}
#projects h2{
    font-size: 2.3rem;
    text-align: center;
    font-family: 'Archivo Black', monospace;

}
.card-project{
    max-width: 20rem;
    cursor: pointer;
    position: relative;
    display: block;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
    border-radius: 1rem;
}
.card-project a{
    display: inline-flex;
    color: #f17921;
    text-decoration: none;
}
.card-project h3{
    margin: 0 0 1rem 0;
    font-size: 1.6rem;
    color: #f17921;
    transition: color 0.3s ease-out;
}
.card-project img{
    max-width: 100%;
    transform-origin: center;
    transition: transform 0.4s ease-in-out;
}
.article-preview{
    padding: 1.5rem;
    background: #2c2c2c;    
}
.article-preview p{
    color: white;
}
.card-project img{
    height: 100%;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    object-fit: cover;
}
.card-project:hover img{
    transform: scale(1.5); 
}
.footer{
    margin-top: 25px;
    background:#2c2c2c;
    padding:30px 0px;
    text-align:center;
    border-top: #f17921 3px solid;
}
.footer .row{
    width:100%;
    margin:1% 0%;
    padding:0.6% 0%;
    color:gray;
    font-size:0.8em;
}
.footer .row a{
    text-decoration:none;
    color:gray;
    transition:0.5s;
    }
.footer .row a:hover{
    color:#f17921;
    }
.footer .row a i{
    font-size:2em;
    margin:0% 1%;
}
@media screen and (min-width: 480px) {
    .face {
        height: 85vh;
        display: flex;
        justify-content: end;
    }
    .photo {
        display: block;
        width: 50%;
        height: 100%;
        background-image: url("https://obambu.com/guide/wp-content/uploads/2022/08/g5jph62pwes.jpg");
        background-position: center;
        background-size: 100% 100%;
    }
    .profile-picture{
        border-radius: 50%;
        border: 5px solid #f17921;
        width: 200px;
        height: 200px;
    }

    .card-container{
        flex-direction: row;
    }
}
@media screen and (min-width: 1000px) {
    p{
        font-size: larger;
    }
    .profile-picture{
        border-radius: 50%;
        border: 5px solid #f17921;
        width: 80%;
        height: auto;
    }
    .container{
        flex-direction: row;
        width: 80%;
        align-items: center;
    }
    .container .col{
    flex: 50%;
    display: block;
    }
    
    .face {
        padding-left: 0;
    }
}